<ion-header>
  <ion-toolbar>
    <ion-title>Reservas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="segment">
    <ion-segment-button value="upcoming">
      Próximas
    </ion-segment-button>
    <ion-segment-button value="completed">
      Completadas
    </ion-segment-button>
  </ion-segment>

  <ion-list *ngIf="segment === 'upcoming'">
    <ion-item *ngFor="let booking of upcomingBookings">
      <ion-label>
        <h2>{{ booking.passengerName }}</h2>
        <p>{{ booking.pickupLocation }} - {{ booking.pickupTime | date: 'short' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="segment === 'completed'">
    <ion-item *ngFor="let booking of completedBookings">
      <ion-label>
        <h2>{{ booking.passengerName }}</h2>
        <p>{{ booking.pickupLocation }} - {{ booking.pickupTime | date: 'short' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

